<!--Including Header Partial-->
<%- include ../layouts/header.ejs %>

<!--Using if-check to see if an error occurred and displaying appropriate message-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>

<script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>

<table border="0" width='60%'>
    <tr style='text-align:left; background-color:#CCC'>
        <th>Description</th>
        <th>Votes</th>
        <th>AddedWhen</th>
        <th>Action</th>
    </tr>
    <% if (data) { %>
    <!-- Using a for-loop to loop over each row in the database.
    The 'data' variable is passed from the store.js during the response.render function call -->
        <% data.forEach(function(song){ %>
            <tr>
                <td><%= song.description %></td>
                <td><%= song.votes %></td>
                <td><%= song.addedwhen %></td>
                <td>
                    <div class="edit-delete" style="float:left">
                        <form action="/pool/delete/<%= song.id %>" method="post" style="float:right">
                            <input name="delete" id="hello" onclick="return confirm('Are you sure you want to remove from pool?')"
                                   type="submit" value='Delete'>
                            <input name="_method" type="hidden" value="DELETE">
                        </form>
                    </div>
                    <div class="edit-delete" style="float:left">
                        <form action="/pool/upvote/<%= song.id %>" method="post" style="float:right">
                            <input name="delete" id="hello" onclick="return confirm('Are you sure you want to upvote?')"
                                   type="submit" value='Upvote'>
                            <input name="_method" type="hidden" value="DELETE">
                        </form>
                    </div>
                    <div class="edit-delete" style="float:left">
                        <form action="/pool/downvote/<%= song.id %>" method="post" style="float:right">
                            <input name="delete" onclick="return confirm('Are you sure you want to downvote?')"
                                   type="submit" value='Downvote'>
                            <input name="_method" type="hidden" value="DELETE">
                        </form>
                    </div>
                </td>
            </tr>
        <% }) %>
    <% } %>
</table>


<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>